.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem 2rem;
    color: white;
}
.logo {
    overflow: hidden;
    object-fit: contain;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
}
 .logo img {
  border-radius: 10px;
  width: 250px;
  height: 100px;
  object-fit: cover; 
}

.brand {
    font-size: 1.5rem;
    margin: 0;
}

.categories {
    display: flex;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.Option {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.Option:hover {
    background-color: #555;
}

.ActiveOption {
    color: #000;
    background-color: #61dafb;
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.5rem;
    border-radius: 5px;
}